html,body{
    height:100%;
    overflow:hidden;
    margin-bottom:30px;
 }
 body{
     
     font-family: Nunito,sans-serif;
     position:relative;


     
 }
 
 
 
 .page_container{
    padding:20px;
    min-height: 100%;


    @include lg{
        padding:0;
        display: grid;
        grid-template-columns: 90px 70%;
        grid-template-rows: 10% 10% auto;
        column-gap: 15px;
        grid-template-areas:
             "menusidebar header"
             "menusidebar sort"
             "menusidebar password_container"                 

    }
 
 }
 
 