.menu__sidebar{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    background-color: #fbf9f9;

    .menu__sidebar__ul{
        padding:10px 0 10px 0;
        width:100%;
        display:flex;
        align-items: center;
        justify-content: space-between;
     
        
    }
    
    .menu__sidebar__link{
     
        width:50px;
        padding-top:10px;
        display:flex;
        justify-content: center;

        svg{
            fill : #BFBFBF;
        }

        &.active{
         svg{
             fill:$crail;
         }
        }
    }

    .menu__sidebar__imgcont{
        width:20px;
    }

    .menu__sidebar__linktext{
        display:none;
    }

    @include md{
        
    }
}