

// AddPasswordBtn

.addPasswordBtn{
    position:absolute;
    right: calc(50% - 30px);
    bottom:47px;
    z-index:30;
    background-color: $color-medow;
    width:60px;
    height:60px;
    border-radius: 50%;
    & svg{
        width:35px;
        height:35px;
        fill: #fff;
        
        path{

            stroke-width:10;
            stroke:#fff;
        }
    }

    // media queries
    @include lg{
 
        right:50px;
        bottom:60px;
        width:70px;
        height:70px;
        /* bottom: 0; */
        display: inline-block;


        & svg{
           
            
        }
    }
}