.btn{
    display: inline-block;
    height:fit-content;
    padding:7px 20px;
    border-radius:3px;
    width:100px;
    cursor: pointer;


}



.btn__leave{
    background-color: $color-medow !important;
    color:#fff;
}

.btn__grey{
    background-color: #eee !important;
}

.btn__danger{
    background-color: red;
    color: #fff;
}

.btn__crail{
    background-color: $color-crail !important;
    color:#fff;
}