

//===================.header=======================//
.header{
    background-color: $color-medow;
}

//===========.header-container=======//
.header-container{
  padding:15px 15px 15px 15px;
  display: flex;

  @include lg{
      padding:15px 25px 15px 25px
  }
}


//===========.header-searchbox=======//
.header-searchbox{
    width:180px;
    height:30px;
    position: relative;
    margin-right: auto;
    
    @include md{
        width:400px;
    }

    @include lg{
        width:600px;
    }
}


//===========.header-searchbox-textbox=======//
.header-searchbox-textbox{
    width:100%;
    height: 100%;
    border-radius: 3px ;
    padding-left:28px;
    text-transform:lowercase;

    &:focus{outline:none}
}

//===========.header-searchbox-imgc=======//
.header-searchbox-imgc{
    display: inline-block;
    width:20px;
    height:30px;
    position: absolute;
    left:0px;
    top:0px;
    z-index: 1;
    cursor:pointer;

    svg{
        width:15px;
        height:15px;
        z-index:-99;
       
    }
}



.header-options{}

//===========header-options-container=======//
.header-options-container{
  display: flex;
}

//===========.header-options-importc=======//
.header-options-importc{
    width:40px;
    height:30px;
    margin-right: 15px;

    @include lg{
        margin-right:20px;
    }


    svg{
     fill:#fff;
     width:30px;
     height: 23px;

     path{
         stroke-width:20;
         stroke:#fff;
     }
  
    }

  
}

//===========.header-options-userc=======//
.header-options-userc{
    width: 40px;
    height:30px;
  svg{
      fill:#fff;
      width:27px;
      height:25px;

      path{
          stroke-width:6;
          stroke:#fff;
      }
      
  }
}
