

//===================.header=======================//
.header{
    background-color: $color-medow;
}

//===========.header-container=======//
.header-container{
  padding:15px 15px 15px 15px;
  display: flex;
}


//===========.header-searchbox=======//
.header-searchbox{
    width:180px;
    height:30px;
    position: relative;
    margin-right: auto;
}


//===========.header-searchbox-textbox=======//
.header-searchbox-textbox{
    width:100%;
    height: 100%;
    border-radius: 3px ;
    padding-left:28px;

    &:focus{outline:none}
}

//===========.header-searchbox-imgc=======//
.header-searchbox-imgc{
    display: inline-block;
    width:16px;
    height:16px;
    position: absolute;
    left:6px;
    top:6px;

    svg{
        width:15px;
        height:15px
       
    }
}



.header-options{}

//===========header-options-container=======//
.header-options-container{
  display: flex;
}

//===========.header-options-importc=======//
.header-options-importc{
    width:40px;
    height:30px;

    margin-right:5px;
    svg{
     fill:#fff;
     width:30px;
     height:22.1px;
    }
}

//===========.header-options-userc=======//
.header-options-userc{
    width: 40px;
    height:30px;
  svg{
      fill:#fff;
      width:27px;
      height:25px;
      
  }
}
