

//===========================.menu__sidebar====================///
.menu__sidebar{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    background-color: #fbf9f9;
    


    // logo 
    .logo{
        .logo__imgcont{
            display: none;
            justify-content: center;
            align-items: center;
            margin-top:25px;

            @include lg{
              display: flex;
            }
            svg{
              width:35px;
              height:32.81px;
              fill: $crail;
            }
        }
    }
   
    




    // media queries
    @include lg{
        
        width:90px;
        height:100vh;
        display: flex;
        position:static;
        grid-area:menusidebar;
        flex-direction: column;
   
        
    }
}



//=================menu__sidebar__ul======================
.menu__sidebar__ul{
    padding:10px 0 10px 0;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;

     // media queries
    @include lg{
        
        flex-direction: column;
        margin-top:150px;
    }
    
}


//===========================menu__sidebar__li======================
.menu__sidebar__li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
}


//==========================menu__sidebar__link====================
.menu__sidebar__link{
    width:50px;
    padding-top:10px;
    display:flex;
    justify-content: center;
    
    //==@lg====//
    @include lg{
        flex-direction: column;
        align-items: center;
    }

    svg{
        fill : #BFBFBF;
    }

    &.active{
     svg{
         fill:$crail;
     }
    }
}


//=================menu__sidebar__imgcont=============//
.menu__sidebar__imgcont{
    width:20px;

    @include lg{
        margin-bottom:7px;
    }
}
//=================menu__sidebar__linktext==============//
.menu__sidebar__linktext{
    display:none;

    @include lg{
     display:inline-block;
     font-size:.8rem;
     text-align: center;
     
    }
}
