.password{
 
}


.password-container{
    padding:0px 0px 0 15px;
    @include lg{
        padding:15px 25px 0 25px;
    }
}


.password-table{
    width: 100%;
}




.password-table-tbh-tr{
    border-bottom: 2px solid #d3d3d3;
    width: 100%;
    display:flex;

}

.password-table-tbh-tr-td{
    padding:10px 0 10px 0;
    letter-spacing: 2px;
}
.password-table-tbh-tr-td.name{
    @include lg{
        width:50%;
    }
}
.password-table-tbh-tr-td.folder{
    display: none;

    @include lg{
        display: table-cell;
    }
}
.password-table-tbh-tr-td.options{
    display: none;
    @include lg{
        display: table-cell;
    }
}



.password-table-tbh-tr-td{
    text-transform: uppercase;
    font-size:.6rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.password-item-tr{
  border-bottom: 1px solid #eee;
  cursor: pointer;
  display: flex;

  &:last-of-type{
    border-bottom: 2px solid #d3d3d3;
  }

  &:hover{
      background-color: #eee;
  }
}

.password-item-td-name{
    display: flex;
    flex-direction: column;
    padding: 5px 0 5px 0;
    margin:0;
    width: 100%;
    @include lg{
    //    width:50%;
    }

}

.password-item-td-name-name{
  letter-spacing: 1px;
}

.password-item-td-username{
  font-size: .9rem;
  letter-spacing: .5px;
  color:#565656;
}

.password-item-td-folder{
  display: none;
  
  text-transform: uppercase;
  font-size:.7em;
  letter-spacing: .5px;
  @include lg{
     display: table-cell;
     width:80%;
  }
}

.password-item-td-options{
    display: none;

    @include lg{
        display: table-cell;
    }
}