.password{
 
}


.password-container{
    min-height:800px;
    max-height: calc(100vh - 220px);
    overflow-y:auto;
    padding:0px 0px 0 15px;

    scrollbar-width: thin;
    scrollbar-color:$color-medow;

    &::-webkit-scrollbar{
        width:12px;
    }
    &::-webkit-scrollbar-track{
        background-color: $color-crail;
    }

    &::-webkit-scrollbar-thumb{
        background-color: $color-medow;
        border-radius:24px;
        
    }
    @include lg{
        padding:15px 150px 0 25px;
        padding-bottom:50px;
    }
}


.password-table{
    width: 100%;
}




.password-table-tbh-tr{
    border-bottom: 2px solid #d3d3d3;
    

}

.password-table-tbh-tr-td{
    padding:10px 0 10px 0;
    letter-spacing: 2px;
}

.password-table-tbh-tr-td.folder{
    display: none;

    @include lg{
        display: inline-block;
    }
}
.password-table-tbh-tr-td.options{
    display: none;
    @include lg{
        display: inline-block;
    }
}



.password-table-tbh-tr-td{
    text-transform: uppercase;
    font-size:.6rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.password-item-tr{
  border-bottom: 1px solid #eee;
  cursor: pointer;
  display: flex;

  &:last-of-type{
    border-bottom: 2px solid #d3d3d3;
  }

 
}

.password-item-td-name{
    display: flex;
    flex-direction: column;
    padding: 5px 0 5px 0;
    margin:0;
    @include lg{
    
    }

}

.password-item-td-name-name{
  letter-spacing: 1px;
}

.password-item-td-username{
  font-size: .9rem;
  letter-spacing: .5px;
  color:#565656;
}

.password-item-td-folder{
  display: none;
  
  text-transform: uppercase;
  font-size:.7em;
  letter-spacing: .5px;
  @include lg{
     display: flex;
     align-items: center;
  }
}

.password-item-td-options{
    display: none;
    position: relative;
    @include lg{
        display: flex;
        justify-content: center;
        align-items: center;


        
    }
}

.password-item-td-options-ellipse{

    font-size:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    letter-spacing: 1px;
    border-radius:3px;
    padding:0;
    position:relative;

    &:hover{
        background-color: #eee;
        
    }

    &:focus{
        border: 2px solid $color-medow;
    }
}

tr{
    display: flex;
    
    td{
        flex : 1 100%;
    }

    @include lg{
        td:nth-child(1){
            flex: 1 45%;
        }

        td:nth-child(2){
            flex: 1 45%;
        }

        td:nth-child(3){
            flex: 1 10% ;
        }
    }
}

//======js button===============//
.password-item-td-options-ellipse-btn{
    &.dropdown__show{
        .dropdown{
            display: flex !important;
        }
    }
}


.dropdown-password{
    top:37px !important;
    right:0 !important;
}