//=============sort =============================//
.sort{
  


}

//=============sort-container =============================//
.sort-container{
    width:100%;
    padding:15px 15px 0 10px;

    @include lg{
        padding:15px 150px 0 25px;
    }
}
//=============sort-text =============================//
.sort-text{
    margin-right:auto;
    color:$color-crail;
    text-transform: uppercase;
    font-weight:bold;
    font-size:.9rem;
}

//=============sort-option=============================//
.sort-option{

}

//=============sort-option-imgc =============================//
.sort-option-imgc{
    z-index:1;
    &.show .dp{
        display: inline-block;
    } 
 
   //========js for toggling sort dropdown ======//
   &.sort-option-btn{
    &.dropdown__show{
        .dropdown{
            display: flex !important;
        }
    }
   }
}

//=============sort-option-text =============================//
.sort-option-text{
text-transform: uppercase;
  color:$color-crail;
  font-weight: bold;
  font-size:.9rem;
}

.header-options-userc-btn{
  &.dropdown__show{
      .dropdown{
          display: flex !important;
      }
  }
}