
//===================.dropdown==============================//
.dropdown{
    display: none;
    position:absolute;
    z-index:1;
    top:25px;
    right:0;

    &.dropdown__show{
        display:flex;
    }
}

//===================.s-container==============================//
.dropdown-container{
    background-color: #fff;
    border:1px solid #eee;
    min-width: 150px;
}
//===================.dropdown-head==============================//
.dropdown-title{
    padding: 25px 10px;
    padding-left:33px;
    font-size:.9rem;
    font-weight:bold;
}

//===================.dropdown-option-item==============================//
.dropdown-option-item{
  
    border-top:1px solid #eee;
    padding:10px 15px 10px 15px;
    font-weight:300;
    font-size:.9rem;
    display: flex;

    &:hover{
        background-color: #eee;
    }

}

//===================.dropdown-option-item-icon==============================//
.dropdown-option-item-icon{
    width:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:5px;
    
    &.icon-folder{
      svg{
        width:15px;
        height:12.13px;
      }
    }
    &.icon-name-tag{
        svg{
            width:9.5px;
            height: 15.11px;
        }
    }
    &.icon-recent{
        svg{
          width:14px;
          height:14px;
        }
    }
}