


//abstracts 
@import '../abstracts/mixins',
        '../abstracts/variables',
        '../abstracts/functions',
        '../abstracts/breakpoints';



// vendor
@import '../vendor/tailwind';

// base
@import '../base/fonts',
        '../base/typography';

@import url('https://use.typekit.net/cem1avc.css');

html,body{
    height:auto !important;
    overflow: auto !important;
    font-family:Nunito,sans-serif;
}

.navigationbar{
    width: 100%;
    height:60px;
    padding:15px 17px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    @include lg{
        padding: 15px 40px;
    }

    .navigationbar__logo{
        width:30px;
        margin-right: auto;

        svg{
            fill:$crail;
        }
    }
    
    
    .navigation__linkcont{

    }
    .navigationbar__link{
        // padding: 4px 8px;
        padding: 8px;
        width:90px;
        display: inline-block;
        text-align: center;
        border-radius: 70px;
        font-size:.85em;
        text-transform:lowercase;

     &.navigationbar__login{
         margin-right:15px;
         background-color: #f3f3f3;
     }

     &.navigationbar__signup{
         background-color: #197359;
         color:#fff;
     }
    }


}



.intro{
    width:100%;
    background-color: antiquewhite;
    text-align: center;
    padding: 4rem 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .intro__head{
        font-family: work-sans, sans-serif;
        font-size: 2.5rem;
        line-height:2.5rem;
        font-weight: 700;

        @include md{
            // width:700px;
            font-size:4rem;
            line-height: 4rem;
            
        }

        @include lg{
            width:935px;
        }
    }

    .intro__desc{
        font-family: Nunito;
        // font-weight: 400;
        padding: 1.5rem 1.5rem;

        @include lg{
            font-size:1.3rem;
            width:935px;
            margin:0;
        }
        
    }
}


.why{
    padding:2.5rem 30px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



  .why__reasoncont{
    @include md{
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap:30px;
        row-gap: 30px;
        max-width: 1450px;
    }

    @include lg{
        grid-template-columns: repeat(3,1fr) ;
    }
  }

  .why__head{
      text-align: center;
      font-family:"Work sans",sans-serif;
      font-size:2.5em;
      margin-bottom:30px;
  }

  .why__reason{
      text-align: center;
      background-color:#fff;
      margin-bottom:30px;
      padding:30px 20px;

      @include md{
          margin:0;
      }
  }

  .why__reason__icon{
      display: flex;
      justify-content: center;
      align-items: center;
      svg{
          width:50px;
      }
  }

  .why__reason__head{
      font-family: "Work Sans",sans-serif;
      font-size:1.5rem;
      margin:25px;
  }
}


















































































































// AddPasswordBtn

.addPasswordBtn{
    position:absolute;
    top:-10px;
    left: calc(50% - 15px);
    z-index:30;
    & svg{
        width:35px;
        height:35px;
        fill: $mountain-medow;
        
    }

    // media queries
    @include lg{
        top:0;
        bottom:0;
        top: 90%;
        /* bottom: 0; */
        display: inline-block;
        height: 35px;
        width: 35px;

        & svg{
            height:55px;
            width:55px;
        }
    }
}