.scroll-beautify{
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color:$color-medow;

    &::-webkit-scrollbar{
        width:12px;
    }
    &::-webkit-scrollbar-track{
        // background-color: $color-crail;
    }

    &::-webkit-scrollbar-thumb{
        background-color: $color-medow;
        border-radius:24px;
        
    }
}


//===========styles for not implemented===============//
.not-implemented{
  position: relative;
  display: inline-block;

  .not-implemented-text{
    visibility: hidden;
    background-color: rgb(58, 46, 46);
    color: #fff;
    font-size:.6rem;
    padding:3px 4px;
    text-align: center;
    border-radius: 6px;
    left:50px;
   
 
    position: absolute;
    z-index:20;
  }

  &:hover .not-implemented-text{
    visibility: visible;
  }
}