html,body{
    height:100%;
    overflow:hidden;
    margin-bottom:30px;
    font-family: Nunito,sans-serif;
    position:relative;


    
 }
 
     
   
 
 .page_container{
    min-height: 100%;


    @include lg{
        padding:0;
        display: grid;
        grid-template-columns: 90px auto;
        grid-template-rows: 60px 40px auto;
        grid-template-areas:
             "menusidebar header"
             "menusidebar sort"
             "menusidebar password_container" ;
             
             

    }
 
 }
 
 