 

 html,body{
   min-height:100vh;
   height: 100%;
   overflow:hidden;
 }
 .page_container{
  position: relative;
  min-height:100vh;



    @include lg{
        padding:0;
        display: grid;
        grid-template-columns: 90px auto;
        grid-template-rows: 60px 40px auto;
        grid-template-areas:
             "menusidebar header"
             "menusidebar sort"
             "menusidebar password_container" ;
    }
 
 }
 
 